@inherits BookingsBase


@page "/bookings"


<h1>Cars</h1>

<button @onclick="AddBooking" class="btn btn-success">Add booking</button>
@if (ShowBookingCreate)
{
    <EditForm Model="@BookingToCreate" OnValidSubmit="HandleValidCreate">
        <div class="form-group">
              <label for="customer">Customer</label>
            <InputSelect class="form-control" id="customer" @bind-Value="selectedCustomerId" itemid="ID" itemref="drpCustomer">
                @foreach (var customer in Repository.GetAllCustomers())
                {
                    <option value="@customer.ID" selected>@customer</option>
                }
            </InputSelect>
        </div>
        <div class="form-group">
              <label for="car">Car</label>
            <InputSelect class="form-control" id="car" @bind-Value="selectedCarId" >
                @foreach (var car in Repository.GetAllCars())
                {
                    <option value="@car.ID">@car</option>
                }
            </InputSelect>
        </div>
        <div class="form-group">
              <label for="from">From</label>
            <InputDate class="form-control" id="from" @bind-Value="BookingToCreate.From" />
        </div>

        <div class="form-group">
            <label for="to">To</label>
            <InputDate class="form-control" id="to" @bind-Value="BookingToCreate.To"></InputDate>
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>

    </EditForm>
}

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Customer</th>
            <th>Car</th>
            <th>From</th>
            <th>To</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var booking in BookingsCollection)
        {
            <tr>
                <td>@booking.ID</td>
                <td>@booking.Customer</td>
                <td>@booking.Car</td>
                <td>@booking.From</td>
                <td>@booking.To</td>
                <td>
                    <button type="button" class="btn btn-warning" @onclick="() => Edit(booking.ID)">Edit</button>
                    <button type="button" class="btn btn-danger" @onclick="() => Delete(booking.ID)">Delete</button>
                </td>
            </tr>
        }

    </tbody>
</table>

@if (ShowBookingEdit)
{
    <EditForm Model="@BookingToEdit" OnValidSubmit="HandleValidEdit">
        <div class="form-group">
              <label for="customer">Customer</label>
            <InputSelect class="form-control" id="customer" @bind-Value="selectedCustomerId" itemid="ID" itemref="drpCustomer">
                @foreach (var customer in AllCustomers)
                {
                    if (customer.ID == selectedCustomerId)
                    {
                        <option value="@customer.ID"  selected>@customer</option>
                    }
                    else
                    {
                        <option value="@customer.ID">@customer</option>
                    }
                }
            </InputSelect>
        </div>
        <div class="form-group">
              <label for="car">Car</label>
            <InputSelect class="form-control" id="car" @bind-Value="selectedCarId" >
                @foreach (var car in AllCars)
                {
                    if (car.ID ==selectedCarId)
                    {
                        <option value="@car.ID" selected>@car</option>
                    }
                    else
                    {
                        <option value="@car.ID">@car</option>
                    }
                }
            </InputSelect>
        </div>
        <div class="form-group">
              <label for="from">From</label>
            <InputDate class="form-control" id="from" @bind-Value="BookingToEdit.From" />
        </div>

        <div class="form-group">
            <label for="to">To</label>
            <InputDate class="form-control" id="to" @bind-Value="BookingToEdit.To"></InputDate>
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>

    </EditForm>
}