@inherits CarsBase

@page "/cars"

<h1>Cars</h1>

<button @onclick="AddCar">Add car</button>
@if (CarToCreate != null)
{
    <EditForm Model="@CarToCreate" OnValidSubmit="HandleValidCreate">
        <div class="form-group">
              <label for="manufacturer">Manufacturer</label>
            <InputText class="form-control" id="manufacturer" @bind-Value="CarToCreate.Manufacturer" />
        </div>

        <div class="form-group">
            <label for="model">Model</label>
            <InputText class="form-control" id="model" @bind-Value="CarToCreate.Model" />
        </div>


        <button class="btn btn-primary" type="submit">Submit</button>

    </EditForm>
}

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <td>ID</td>
            <td>Manufacturer</td>
            <td>Model</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in CarsCollection)
        {
            <tr>
                <td>@car.ID</td>
                <td>@car.Manufacturer</td>
                <td>@car.Model</td>
                <td>
                    <button type="button" class="btn btn-warning" @onclick="() => Edit(car.ID)">Edit</button>
                    <button type="button" class="btn btn-danger" @onclick="() => Delete(car.ID)">Delete</button>
                </td>
            </tr>
        }

    </tbody>
</table>

@if (CarToEdit != null)
{
    <EditForm Model="@CarToEdit" OnValidSubmit="HandleValidEdit">
        <div class="form-group">
            <label for="manufacturer">Manufacturer</label>
            <InputText class="form-control" id="manufacturer" @bind-Value="CarToEdit.Manufacturer" />
        </div>
        <div class="form-group">
            <label for="model">Model</label>
            <InputText class="form-control" id="model" @bind-Value="CarToEdit.Model" />
        </div>


        <button class="btn btn-primary" type="submit">Submit</button>

    </EditForm>
}
